spring:
  config:
    import:
      optional:file:./env.properties,classpath:version.properties
 
  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
    username: postgres
    password: 334863333
    driver-class-name: org.postgresql.Driver

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
  kafka:
    bootstrap-servers: 127.0.0.1:9092
    admin:
      auto-create: true
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer
      acks: all
      retries: 5
      properties:
        retry.backoff.ms: 1000
        delivery.timeout.ms: 30000
    consumer:
      group-id: credito-group
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer
  azure:
    servicebus:
      connection-string: ${AZURE_SERVICEBUS_CONNECTION_STRING}
      queue-name: credito-queue
