spring:
  config:
    import:
      optional:file:./env.properties,classpath:version.properties
 
  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
    username: postgres
    password: 334863333
    driver-class-name: org.postgresql.Driver

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
  kafka:
    bootstrap-servers: localhost:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
  azure:
    servicebus:
      connection-string: ${AZURE_SERVICEBUS_CONNECTION_STRING}
      queue-name: credito-queue
